@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<ProductViewModel>
}

<div class="text-center">
    <h1 class="display-4">Welcome to Marlon's Vending Machine</h1>
    
    <div class="overlay"></div>
    <div class="scanline"></div>
    <div class="wrapper">
        <div class="content clearfix">

            <header class="flex site clearfix">
                <div class="col one">
                    <img src="https://media-exp1.licdn.com/dms/image/D4E03AQEcDTbjIizRPg/profile-displayphoto-shrink_400_400/0/1669375061863?e=1675296000&v=beta&t=XhjPFtVMR-m6zdxhYH0c-bYyH85GLhcUWPjN03Fo9pg" alt="Marlon" width="740" height="729" id="logo-v" />
                </div>
                <div class="col two">
                    <p>This vending machine will accept money, make change, maintain inventory, and dispense products. All the things that you might expect a vending machine to accomplish.</p>
                </div>
            </header>
            
            <div>
                <a id="insert-coin-button" class="button">
                    <p id="coin-insert" class="insert-coin-ready">INSERT COIN</p>
                </a>
            </div>
            
            <div class="weight-size-fields">
                <p>Please enter the coin's weight and size.</p>
                <p id="nickel-added">Nickel Added!</p>
                <p id="dime-added">Dime Added!</p>
                <p id="quarter-added">Quarter Added!</p>
                <p id="coin-invalid" class="error">Please enter a valid coin. We only accept nickels, dimes, and quarters.
                    For more information on coin sizes, click <a target="_blank" href="https://www.supermoney.com/dime-weigh/#:~:text=How%20much%20do%20quarters%2C%20nickels,a%20thickness%20of%201.52%20mm.">here</a>.
                </p>
                
                <label>Weight (grams) >></label><input id="coin-weight" type="text"/><br/>
                <label>Diameter (mm) >></label><input id="coin-size" type="text"/><br/>
            </div>
            
            <p class="clear"><br /></p>

            <nav class="site clear">
                <ul>
                    <li><a href="#" title="">Home</a></li>
                    <li><a target="_blank" href="https://github.com/marlonscloud/vending-machine-oxford-economics" title="">Marlon's Github</a></li>
                    <li><a target="_blank" href="https://github.com/guyroyse/vending-machine-kata" title="">Original Kata Github</a></li>
                </ul>
            </nav>

            <p>Demo project written by Marlon Dedakis</p>
        </div>
    </div>
</div>

@section scripts {
    <script> 
        $(document).ready(function () {
            document.getElementById("insert-coin-button").addEventListener("click", function() {
                insertCoin(0);
            });
            document.getElementById("coin-weight").addEventListener("change", showCoinInfo);
            document.getElementById("coin-size").addEventListener("change", showCoinInfo);

            window.balance = 0;

            function insertCoin(coin = 0) {
                $('.weight-size-fields').show();
                window.balance += coin;
                $('#coin-insert').text('Balance: ' + Math.round(window.balance * 100) / 100);
            }

            function showCoinInfo() {
                var coinWeight = $('#coin-weight');
                var coinSize = $('#coin-size');

                if (!processCoin(coinWeight.val(), coinSize.val())) {
                    $('#coin-invalid').show();
                } else {
                    $('#coin-invalid').hide();
                }
            }

            function processCoin(coinWeight, coinSize) {
                var coinValid = false;

                if (coinWeight === "5000" && coinSize === "21.21") {
                    $('#nickel-added').show();
                    $('#dime-added').hide();
                    $('#quarter-added').hide();
                    coinValid = true;
                    clearFields();
                    insertCoin(0.05);
                }

                if (coinWeight === "2268" && coinSize === "17.91") {
                    $('#nickel-added').hide();
                    $('#dime-added').show();
                    $('#quarter-added').hide();
                    coinValid = true;
                    clearFields();
                    insertCoin(0.10);
                }

                if (coinWeight === "5670" && coinSize === "24.26") {
                    $('#nickel-added').hide();
                    $('#dime-added').hide();
                    $('#quarter-added').show();
                    coinValid = true;
                    clearFields();
                    insertCoin(0.25);
                }

                return coinValid;
            }

            function clearFields() {
                $('#coin-weight').val('');
                $('#coin-size').val('');
            }
        });
    </script>
}