@{
    ViewData["Title"] = "Home Page";
    @model IEnumerable<ProductViewModel>
}

<div class="text-center">
    <h1 class="display-4">Welcome to Marlon's vending machine</h1>
    <p>Enjoy!</p>
    
    @foreach(var product in Model)
    {
        <p>@product.ProductId</p>
        <p>@product.Name</p>
        <p>@product.Price</p>
    }
</div>